<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>darksword</string>
	<key>CFBundleIdentifier</key>
	<string>com.darksword.exploit</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>darksword</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.16</string>
	<key>CFBundleVersion</key>
	<string>16</string>
	<key>MinimumOSVersion</key>
	<string>17.0</string>
	<key>DPExploitType</key>
	<string>Kernel</string>
	<key>DPExploitFlavors</key>
	<dict>
		<key>default</key>
		<dict>
			<key>DPFlavorPriority</key>
			<integer>1000</integer>
			<key>DPSupportedRanges</key>
			<array>
				<dict>
					<key>Start</key>
					<string>17.0</string>
					<key>End</key>
					<string>18.7</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
