<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-sandbox</key>
	<true/>
	<key>com.apple.private.security.container-required</key>
	<false/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.private.persona-mgmt</key>
	<true/>
	<key>proc_info-allow</key>
	<true/>
	<key>com.apple.security.iokit-user-client-class</key>
	<array>
		<string>IOSurfaceRoot</string>
		<string>IOSurfaceRootUserClient</string>
	</array>
	<key>com.apple.private.security.disk-device-access</key>
	<true/>
	<key>com.apple.developer.kernel.extended-virtual-addressing</key>
	<true/>
	<key>com.apple.developer.kernel.increased-memory-limit</key>
	<true/>
	<key>com.apple.private.network.client</key>
	<true/>
	<key>com.apple.private.mobileinstall.allowedSPI</key>
	<array>
		<string>Lookup</string>
		<string>Install</string>
		<string>Browse</string>
		<string>Uninstall</string>
		<string>LookupForLaunchServices</string>
		<string>InstallForLaunchServices</string>
		<string>BrowseForLaunchServices</string>
		<string>UninstallForLaunchServices</string>
	</array>
</dict>
</plist>
